<ion-modal-view view-title="Servis Ekle">
  <ion-header-bar class="bar-light">
    <ion-header-buttons>
      <button class="button button-clear button-assertive ion-close" ng-click="modal.hide()"></button>
    </ion-header-buttons>
  </ion-header-bar>


  <ion-content>

    <div style="margin-top: 20px" class="ortala list list-inset">
      <h3>Analizler Ekle</h3>
      

      <center><label class="ekle_input item item-input" style="width: 89%;height: 143px;
      border-radius:10px !important;">
      <button class="button button-clear button-assertive"> <input class="ekle_input item-input" type="file"></button>
      <textarea type="text" placeholder="Resmi+" style="margin-top:-42px;margin-left: -56%;font-size: 120%;"></textarea>
    </label>

    <label class="ekle_input item item-input" style="width: 89%;height: 51px;
    border-radius: 10px !important;margin-top: 4%;">
    <textarea type="text" placeholder="Analizler" ></textarea>
  </label>


  
  <label class="ekle_input item item-input" style="width: 89%;height: 106px;
  border-radius:10px !important;margin-top: 4%;">
  <textarea type="text" placeholder="Kurumsal Raporlama, finansal ve finansal olmayan bilgilerin birlikte raporlanmasından oluşur. PwC’nin yaptığı araştırmalar, yatırımcıların ve analistlerin salt finansal bilgilerden oluşan raporlamaların bir işletmenin sürekliliğinin ve geleceğinin değerlendirilmesinde kısıtlı kullanımı olduğunu düşündüklerini göstermektedir. Bu bir süpriz değildir – şöyle ki, zaten şirket ." style="margin-top:-28px;"></textarea>
</label>
</center>


<div class="ortala"style="margin-top: 29%;">
  <button class="button button-assertive ekle_b ">
    <h3 style=" color: white;font-family: monospace;">Güncelle</h3>
  </button></div>

  <div class="ortala"style="margin-top: 1%;">
    <button class="button button-assertive ekle_b ">
      <h3 style=" color: white;font-family: monospace;">Sil</h3>
    </button></div>
  </div>
</div>

</ion-content>

</ion-modal-view>