<ion-modal-view view-title="Servis Ekle">
  <ion-header-bar class="bar-light">
    <ion-header-buttons>
      <button class="button button-clear button-assertive ion-close" ng-click="modal.hide()"></button>
    </ion-header-buttons>
  </ion-header-bar>


  <ion-content>

    <div style="margin-top: 20px" class="ortala list list-inset">
      <h3>Müşteri Hikayesi Ekle</h3>
      

      <center><label class="ekle_input item item-input" style="width: 89%;height: 143px;
      border-radius:10px !important;">
      <button class="button button-clear button-assertive"> <input class="ekle_input item-input" type="file"></button>
      <textarea type="text" placeholder="Resmi+" style="margin-top:-42px;margin-left: -56%;font-size: 120%;"></textarea>
    </label>

    <label class="ekle_input item item-input" style="width: 89%;height: 51px;
    border-radius: 10px !important;margin-top: 4%;">
    <textarea type="text" placeholder="Microsoft İş Güvenliği Danışmanlığı" ></textarea>
  </label>


  
  <label class="ekle_input item item-input" style="width: 89%;height: 106px;
  border-radius:10px !important;margin-top: 4%;">
  <textarea type="text" placeholder="Danışmanlık kapsamında 50 GB lık database incelenmiş uzman ekibimiz tarafından gerekli analizler yapılmıştır" style="overflow-wrap: normal;
  height: 171%;
margin-top:23%;"></textarea>
</label>
</center>



<div class="ortala"style="margin-top: 20%;">
  <button class="button button-assertive ekle_b ">
    <h3 style=" color: white;font-family: monospace;">+ Ekle</h3>
  </button></div>
</div>

</ion-content>

</ion-modal-view>margin-top: 4%;