<ion-modal-view view-title="Servis Ekle">
  <ion-header-bar class="bar-light">
    <ion-header-buttons>
      <button class="button button-clear button-assertive ion-close" ng-click="modal.hide()"></button>
    </ion-header-buttons>
  </ion-header-bar>


  <ion-content>

    <div style="margin-top: 20px" class="ortala list list-inset">
      <h3>Kelime Ekle</h3>
      

      <center>

  <label class="ekle_input item item-input" style="width: 89%;height: 51px;
  border-radius: 10px !important;margin-top: 4%;">
  <textarea type="text" style="text-align: center;font-size: x-large;" placeholder="Abnormal Situantion" ></textarea>
</label>

<label class="ekle_input item item-input" style="width: 89%;height:251px;
border-radius:10px !important;margin-top: 4%;">
<textarea type="text" placeholder="Abort sayılı İş Sağlığı ve Güvenliği Kanunu’nun 6, 7 ve 8 inci maddeleri gereği işverenler iş sağlığı ve güvenliği hizmetlerini sağlamakla yükümlüdür. İş güvenliği uzmanlığı hizmetleri  6331 sayılı kanun ve yönetmelikleri ile tanımlanmıştır.
Abort sayılı İş Sağlığı ve Güvenliği Kanunu’nun 6, 7 ve 8 inci maddeleri gereği işverenler iş sağlığı ve güvenliği hizmetlerini sağlamakla yükümlüdür. " style="margin-top: 63%;overflow-wrap: normal;height: 171%;
}margin-top:-63%;"></textarea>
</label>
</center>



<div class="ortala"style="margin-top: 29%;">
    <button class="button button-assertive ekle_b ">
      <h3 style=" color: white;font-family: monospace;">Güncelle</h3>
    </button></div>

    <div class="ortala"style="margin-top: 1%;">
      <button class="button button-assertive ekle_b ">
        <h3 style=" color: white;font-family: monospace;">Sil</h3>
      </button></div>
    </div>
  </div>

</ion-content>

</ion-modal-view>