<ion-modal-view view-title="Servis Ekle">
  <ion-header-bar class="bar-light">
    <ion-header-buttons>
      <button class="button button-clear ion-close" ng-click="modal.hide()"></button>
    </ion-header-buttons>
  </ion-header-bar>


  <ion-content>
    <input class="ekle_input" type="file">
    <input class="ekle_input" type="text">
    <input class="ekle_input" type="text">
    <button class="button button-assertive ekle_b"> Güncelle</button>
    <button class="button button-assertive ekle_b"> Sil </button>

  </ion-content>
</ion-modal-view>