<ion-modal-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>
  <ion-header-bar class="bar-light">
      <ion-header-buttons>  
        <button class="button button-clear ion-close" ng-click="modal.hide()"></button>
      </ion-header-buttons>
    </ion-header-bar>

  <ion-content>

    <a href="#/tab/courses">
      <div>
        <img class="ed" src="{{egitimler[itemId].CRS_PHOTO}}">
      </div>
    </a>
    <h3>{{egitimler[itemId].CRS_NAME}}</h3>
    <br>

    <p align="left" class="y">{{egitimler[itemId].CRS_DESCRIPTION}}</p>

    <ion-icon name="time-outline"></ion-icon>

    <br>



    <h2 style="font-size: 23px;"class="ion-ios-time-outline y"><font style="margin-left: 10px;font-size: 19px;"> {{egitimler[itemId].CRS_HOUR}} Saat</font></h2>
    <br>
    <h4 style="font-size: 23px;"class="ion-ios-location-outline y"><font style="margin-left: 10px;font-size: 19px;">{{egitimler[itemId].CRS_ADRESS}}</font></h4>
    <br>
    <h4 style="font-size: 23px;"class="ion-calendar y"><font style="margin-left: 10px;font-size: 19px;">{{egitimler[itemId].CRS_BEGINDATE}} - {{egitimler[itemId].CRS_ENDDATE}} </font></h4>
    <br><br>
    
    <div ng-if="aktifmi">
      <button ng-click="CancelApplication()" class="button button-assertive obton">Ön Başvuruyu İptal Et</button>
    </div>

    <div ng-if="!aktifmi">
      <button ng-click="ConfirmApplication()" class="button button-assertive obton">Ön Başvuru Yap</button>
    </div>


  </ion-content>
</ion-modal-view>

