<ion-modal-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>
  <ion-content>

    <ion-header-bar class="bar-light">
      <ion-header-buttons>  
        <button class="button button-clear" ng-click="modal.hide()">Geri</button>
      </ion-header-buttons>
    </ion-header-bar>

    <div class="all">Abnormal Situantion</div>


    <img class="full-image rr" src="img/sozlk/s2.jfif">

    <div class="list list-inset">
    </div>
    <br><br>
    <a class="item item-body hkd" href="#/tab/dictionary" >
      <p style="font-size: 22px;font-family: Avenir-Book;">Abort sayılı İş Sağlığı ve Güvenliği Kanunu’nun 6, 7 ve 8 inci maddeleri gereği işverenler iş sağlığı ve güvenliği hizmetlerini sağlamakla yükümlüdür. İş güvenliği uzmanlığı hizmetleri  6331 sayılı kanun ve yönetmelikleri ile tanımlanmıştır.

        Abort sayılı İş Sağlığı ve Güvenliği Kanunu’nun 6, 7 ve 8 inci maddeleri gereği işverenler iş sağlığı ve güvenliği hizmetlerini sağlamakla yükümlüdür. İş güvenliği uzmanlığı hizmetleri  6331 sayılı kanun ve yönetmelikleri ile tanımlanmıştır.
        Abort sayılı İş Sağlığı 
      </p>
    </a> 
  </div>
</ion-content>
</ion-modal-view>