
<ion-modal-view>
	<ion-header-bar class="bar-light">
		<ion-header-buttons>
			<button class="button button-clear ion-close" ng-click="modal.hide()"></button>
			<b>Mevcut Kullanıcılar</b>
		</ion-header-buttons>
	</ion-header-bar>
	<ion-content>
		
		<ion-list>
			<ion-item class="item-remove-animate item-avatar item-icon-right " ng-repeat="veri in userlist" type="item-text-wrap" href="#/tab/userprofile/{{veri.id}}">
				<img ng-src="{{veri.USER_PHOTO}}">
				<h2 class="{{veri.USER_TYPE=='banned' ? 'engellenmis_kullanici' : ''}}">{{veri.USER_NAME}} - {{veri.USER_COMPANY}}{{veri.USER_TYPE=='banned' ? ' (Yasaklı Kullanıcı)' : ''}}</h2>
				<p>{{veri.USER_EMAIL}} - {{veri.USER_PHONE}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>

				<ion-option-button class="button-assertive" ng-click="remove(chat)">
					Engelle
				</ion-option-button>
			</ion-item>
		</ion-list>


	</ion-content>
</ion-modal-view>

<!--


<ion-modal-view>
  <ion-header-bar class="bar-light">
    <ion-header-buttons>
      <button class="button button-clear button-assertive ion-close" ng-click="modal.hide()"></button>
    </ion-header-buttons>
  </ion-header-bar>
  

  <ion-content>
      
Selam
	<div class="row row-center">
	  <div class="col col-20"><b>İsim</b></div>
	  <div class="col col-20"><b>Telefon</b></div>
	  <div class="col col-20"><b>Mail</b></div>
	  <div class="col col-20"><b>Şirket</b></div>
	  <div class="col col-20"><b>İşlem Yap</b></div>
	</div>

 	<ion-list>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
	        <img ng-src="{{chat.face}}">
	        <h2>{{chat.name}}</h2>
	        <p>{{chat.lastText}}</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>

	        <ion-option-button class="button-assertive" ng-click="remove(chat)">
	          Delete
	        </ion-option-button>
	    </ion-item>
	</ion-list>
	 

	</div>
	</div>
	</ion-list>


-->