<ion-modal-view>
  <ion-header-bar>

    <button ng-click="modal.hide()" class="button button-assertive">X</button>
  </ion-header-bar>



  <ion-content>


   
    <center><img style="    width: 42%;
    "src="img/logo.PNG"/ ></center>
<center>
      <button class="button button-clear button-light"><img class=" full-image l1 " src="img/login/bb.png"></button>

      <button class="button button-clear button--light" ><img class="full-image l2" src="img/login/aa.png"></button>

      <button class="button button-clear button-light" ><img class="full-image l3" src="img/login/tt.png"></button></center>
    <form ng-submit="doLogin()" ng-if="!user_id && !userKayit">
      <br><br>
      <div class="list" style= "padding:1px;">
        <br><br>
        <label class="item item-input kd">
          <i class="ion-email"style="margin-right: 1%;font-size: 124%;"></i>
          <input type="text" style="font-size:103%;margin-left: 3%;margin-top: 0%;"placeholder="simiz@mailadresi.com" ng-model="loginData.email">
        </label>
        <br><br>
        <label class="item item-input kd">
         <i class="ion-ios-unlocked"style="margin-right: 10%;font-size: 124%;"></i>
         <input type="password" style="font-size:103%;margin-left: -5%;margin-top: 0%;"placeholder="Şifre" ng-model="loginData.password">
       </label>

       <br><br>
       
       
        <button style="margin-left: 16%;"ng-disabled="!loginData.email || !loginData.password" class="button button-dark beton2" type="submit"> Giriş Yap </button>
       

       <br><br>

       <button style="margin-left: 16%"class="button button-dark beton1">
        <p class="dil"> Kayıt Ol</p>
      </button>
      <br><br>
      <button class="button button-block button-light">
        <p class="y"> Şifremi Unuttum</p>
      </button>

    </div>
  </form>

  <h1>{{userId}}</h1>








  <br>




  <form ng-submit="registerUser()" ng-if="!user_id && !userKayit">
    <h3 align="center">Login Kayıt</h3>

      <div class="list" style= "padding:10px;" >



        <label class="item item-input kd">
          <i class="ion-person"style="margin-right: 1%;font-size: 124%;"></i>
          
          <br><br><br>
          <input type="text" style="font-size:103%;margin-top: -1%;
          margin-left: 5%;"placeholder="İsim">
        </label>


        <label class="item item-input kd" >
          <i class="ion-ios-telephone"style="margin-right: 1%;font-size: 124%;"></i>
          
          <input type="text" style="font-size:103%;margin-top: -1%;
          margin-left: 5%;"placeholder="Tel">
        </label>


        <label class="item item-input  kd">
         <i class="ion-ios-unlocked"style="margin-right: 1%;font-size: 124%;"></i>

         <input type="password" style="font-size:103%;margin-top: -1%;
         margin-left: 5%;"placeholder="Şifre">
       </label>


       <label class="item item-input kd">
         <i class="ion-ios-unlocked" style="margin-right: 1%;font-size: 124%;"></i>
         <input type="password" style="font-size:103%;margin-top: -1%;
         margin-left: 5%;"placeholder="Şifre Tekrar">
       </label>


       <label class="item item-input  kd">
         <i class="ion-email" style="margin-right: 1%;font-size: 124%;"></i>
         
         <input type="text" style="font-size:103%;margin-top: -1%;
         margin-left: 5%;"placeholder="john@suhr.com">
       </label>

     </div>
     <div>



      <button style="margin-left: 60px;"class="button button-dark beton2">
       Kayıt Ol 
     </button>

   </div>


   <br>

   <div>

    <button style="margin-left: 60px;"class="button button-dark beton1">
     <p class="dil"> Giriş Yap</p>
   </button>
 </div>

 <br>
</form>


<br><br>










</ion-content>
</ion-modal-view>
