<ion-view>
  <ion-header-bar>

  </ion-header-bar>



  <ion-content>



    <center><img style="    width: 42%;
    " src="img/logo.PNG" /></center>
   


    <form ng-submit="doLogin()" ng-if="!kayittab || kayittab==0">
      <br><br>
      <div class="list ortala" style="padding:1px;">
        <br><br>
        <label class="item item-input kd">
          <i class="ion-ios-email-outline" style="margin-right: 1%;font-size: 124%;"></i>
          <input type="text" style="font-size:103%;margin-left: 3%;margin-top: 0%;" placeholder="{{diller[15].kelime}}"
            ng-model="loginData.email">
        </label>
        <br><br>
        <label class="item item-input kd">
          <i class="ion-ios-unlocked-outline" style="margin-right: 10%;font-size: 124%;"></i>
          <input type="password" style="font-size:103%;margin-left: -5%;margin-top: 0%;" placeholder="{{diller[13].kelime}}"
            ng-model="loginData.password">
        </label>

        <br><br>


        <button ng-disabled="!loginData.email || !loginData.password"
          class="button button-dark beton2" type="submit">{{diller[16].kelime}}</button>


        <br><br>

        <button class="button button-dark beton1" type="button" ng-click="kayitButon(1)">
          <p class="dil"> {{diller[20].kelime}}</p>
        </button>
        <br><br>
        <button class="button button-block button-light">
          <a class="y"> Şifremi Unuttum</a>
        </button>

      </div>
    </form>

  

    <form ng-submit="registerUser()" ng-if="kayittab==1">

      <div class="list" style="padding:10px;">

        <label class="item item-input kd">
          <i class="ion-ios-person-outline" style="margin-right: 1%;font-size: 124%;"></i>

          <br><br><br>
          <input type="text" style="font-size:103%;margin-top: -1%;
          margin-left: 5%;" placeholder="{{diller[14].kelime}}" ng-model="kayitData.name">
        </label>


        <label class="item item-input kd">
          <i class="ion-ios-telephone-outline" style="margin-right: 1%;font-size: 124%;"></i>

          <input type="text" style="font-size:103%;margin-top: -1%;
          margin-left: 5%;" placeholder="{{diller[12].kelime}}" ng-model="kayitData.number">
        </label>

        <label class="item item-input  kd">
          <i class="ion-ios-email-outline" style="margin-right: 1%;font-size: 124%;"></i>

          <input type="text" style="font-size:103%;margin-top: -1%;
         margin-left: 5%;" placeholder="{{diller[15].kelime}}" ng-model="kayitData.email">
        </label>


        <label class="item item-input  kd">
          <i class="ion-ios-unlocked-outline" style="margin-right: 1%;font-size: 124%;"></i>

          <input type="password" style="font-size:103%;margin-top: -1%;
         margin-left: 5%;" placeholder="{{diller[13].kelime}}" ng-model="kayitData.password">
        </label>


        <label class="item item-input kd">
          <i class="ion-ios-unlocked-outline" style="margin-right: 1%;font-size: 124%;"></i>
          <input type="password" style="font-size:103%;margin-top: -1%;
         margin-left: 5%;" placeholder="{{diller[17].kelime}}" ng-model="kayitData.passwordChck">
        </label>



      </div>
      <div>



        <button style="margin-left: 60px;" class="button button-dark beton2"
          ng-disabled="!kayitData.name || !kayitData.number || !kayitData.email || kayitData.password.length<8 || (kayitData.password!=kayitData.passwordChck)"
          type="submit">
          {{diller[20].kelime}}
        </button>

      </div>


      <br>

      <div>

        <button style="margin-left: 60px;" class="button button-dark beton1" type="button" ng-click="kayitButon(0)">
          <p class="dil">{{diller[16].kelime}}</p>
        </button>
      </div>

      <br>
    </form>



    <center>
      <button class="button button-clear button-light" ng-click="tiklabayrak('EN')"><img class=" full-image l1 "
          src="img/login/bb.png"></button>

      <button class="button button-clear button--light" ng-click="tiklabayrak('DE')"><img class="full-image l2"
          src="img/login/aa.png"></button>

      <button class="button button-clear button-light" ng-click="tiklabayrak('TR')"><img class="full-image l3"
          src="img/login/tt.png"></button></center>










  </ion-content>
</ion-view>