<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>


  <ion-content>

    <br>


    <img class="full-image l1" src="img/login/bb.png">

    <img class="full-image l2" src="img/login/aa.png">

    <img class="full-image l3" src="img/login/tt.png">
    <br><br>

    <div class="list" style= "padding:10px;" >

      <label class="item item-input item-stacked-label kd">
        <span class="input-label"><i class="ion-person"style="margin-right: 10%;font-size: 124%;margin-top: -2%;"></i> İsim</span>
        <input type="text" style="margin-left: 9%;margin-top: -2%;"placeholder="İsim">
      </label>

      <label class="item item-input item-stacked-label kd" >
        <span class="input-label"><i class="ion-ios-telephone"style="margin-right: 10%;font-size: 124%;"></i>Tel</span>
        <input type="text" style="margin-left: 7%;margin-top: -2%;"placeholder="Tel">
      </label>

      <label class="item item-input item-stacked-label kd">
        <span class="input-label"><i class="ion-ios-unlocked"style="margin-right: 10%;font-size: 124%;"></i>Şifre</span>
        <input type="password" style="margin-left: 7%;margin-top: -2%;"placeholder="Şifre">
      </label>


      <label class="item item-input item-stacked-label kd">
        <span class="input-label"><i class="ion-ios-unlocked" style="margin-right: 10%;font-size: 124%;"></i>Şifre Tekrar</span>
        <input type="password" style="margin-left: 7%;margin-top: -2%;"placeholder="Şifre Tekrar">
      </label>





      <label class="item item-input item-stacked-label kd">
        <span class="input-label"><i class="ion-email" style="margin-right: 10%;font-size: 124%;"></i>e-mail</span>
        <input type="text" style="margin-left: 7%;margin-top: -2%;"placeholder="john@suhr.com">
      </label>

    </div>




    <div>



      <button style="margin-left: 60px;"class="button button-dark beton2">
       Kayıt Ol 
      </button>
    </div>


    <br>

    <div>

      <button style="margin-left: 60px;"class="button button-dark beton1">
       <p class="dil"> Giriş Yap</p>
     </button>
   </div>

   <br>









 </ion-content>
</ion-view>