<ion-modal-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>
  <ion-header-bar class="bar-light">
      <ion-header-buttons>  
        <button class="button button-clear ion-close" ng-click="modal.hide()"></button>
      </ion-header-buttons>
    </ion-header-bar>

  <ion-content>

    <h4 align="center">Hizmetlerimiz</h4>
    <br><br><br>

    <div class="item item-body hkd" >
      <img class="full-image id" src="img/services/1.png" >

      <div class=""> <h2 align="center" >Analizler<hr width="100%" size="4" ></h2></div>
      <p style="font-size: 12px;"align="center">Kurumsal Raporlama, finansal ve finansal olmayan bilgilerin birlikte raporlanmasından oluşur. PwC’nin yaptığı araştırmalar, yatırımcıların ve analistlerin salt finansal bilgilerden oluşan raporlamaların bir işletmenin sürekliliğinin ve geleceğinin değerlendirilmesinde kısıtlı kullanımı olduğunu düşündüklerini göstermektedir. Bu bir süpriz değildir – şöyle ki, zaten şirket yöneticileri de işletme kararları verirken sadece finansal bilgilere bakmamaktadırlar. Şirketinizin markası, pazar payı, müşteri memnuniyeti ve insan sermayesi yatırımcılar için son derece önemli verilerdir. Sonuç olarak, böyle önemli finansal olmayan varlıkları da içeren raporlama şirket değerinin sermaye piyasalarında daha gerçekçi algılanmasını sağlayacaktır.</p>
      </div>
    </div>
  </ion-content> 
</ion-modal-view>