<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>


  <ion-content class="padding">


    <!-- Anasayfa Tab -->
<center>
<i style="font-size: 133px;"class="ion-android-textsms"></i>



<div class="col col-100">
  <label style="font-size: 23px;color: #616161;">Lütfen telefonunuza SMS olarak 
gelen kodu giriniz.</label>
</div>
   

<div class="col-100" style="margin-top: 8%;">
<input type="" name="" style="margin-right: 4%;"class="sms">
<input type="" name=""style="margin-right: 4%;" class="sms">
<input type="" name="" style="margin-right: 4%;"class="sms">
<input type="" name="" class="sms"></div>


<button style="margin-top: 14%"class="button  sms_button">Onayla</button>




</center>
  </ion-content>
</ion-view>
