<ion-modal-view>
  <ion-header-bar>
  		<button class="button button-clear button-assertive ion-chevron-left" ng-click="modal.hide()"></button>
  </ion-header-bar>

  <ion-content class="padding">


    <!-- Sms Body -->
<form ng-submit="smsOnay()">
<center>
<i style="font-size: 133px;"class="ion-android-textsms"></i>



<div class="col col-100">
  <label style="font-size: 23px;color: #616161;">Lütfen telefonunuza SMS olarak 
gelen kodu giriniz.</label>
</div>
   

<div class="col-100" style="margin-top: 8%;">
<input type="" name="" style="margin-right: 4%;"class="sms" ng-model="smsVerify.kod1">
<input type="" name=""style="margin-right: 4%;" class="sms" ng-model="smsVerify.kod2">
<input type="" name="" style="margin-right: 4%;"class="sms" ng-model="smsVerify.kod3">
<input type="" name="" class="sms" ng-model="smsVerify.kod4"></div>


<button style="margin-top: 14%"class="button  sms_button" type="submit">Onayla</button>




</center>
</form>
  </ion-content>
</ion-modal-view>
