<ion-modal-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>
  <ion-header-bar class="bar-light">
    <ion-header-buttons>
      <button class="button button-clear ion-close" ng-click="modal.hide()"></button>
    </ion-header-buttons>
  </ion-header-bar>

  <ion-content>


    <h4 align="center">Müşteri Hikayeleri</h4>

    <center>
      <div class="col col-90" >
       <div class="col item item-body" style="border-radius: 12px;height: 560px;"> 
         <br><br>
         <div  class="ion-compose edit_i detail_edit"></div>


        <div class="col" style=" border-radius: 509%;
    border: solid 2px red;
    max-width: 43%;
    padding: 6%;"> <img class="mstory_image" ng-src="{{hikayeler[itemId].STR_IMAGE}}"></div>
        
        <h2 align="center" style="font-size: 21px;">{{hikayeler[itemId].STR_HEAD}} </h2>
        <br>
        <p style="font-size: 15px;" align="center">{{hikayeler[itemId].STR_DESCRIPTION}}</p>
      </div></div>


    </center>












    <!--div class="ortala">
      <button class="button button-assertive ekle_b ">
        + Ekle
      </button></div>
      <br>
      <br>
      <br> 
      <br>
      <div class="item item-body hkd" > ,
       <br><br>
       <div  class="ion-compose edit_i detail_edit"></div>
       <i class="list card ">
        <div style="border-color: red;border-width: 2px;" class="item item-avatar profile ">

         
        </i>
      </div>




 <img class="pi " ng-src="{{hikayeler[itemId].STR_IMAGE}}">





      <h2 align="center" style="font-size: 21px;">{{hikayeler[itemId].STR_HEAD}} </h2>
      <br>
      <p style="font-size: 15px;" align="center">{{hikayeler[itemId].STR_DESCRIPTION}}


      </div>
    -->
    

  </ion-content>
</ion-modal-view>