<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>
<ion-content>

<br>
<h4 align="center">Eğitimlerimiz</h4>


<div  ng-repeat="egitim in egitimler" ng-click="modalgosterici('course',{{$index}})">
<div class="card rectangle groupi">
<div class="item item-text-wrap">
   <img class="ie"src="{{egitim.CRS_PHOTO}}">
   <span class="badge badge-orange ie2" >{{egitim.CRS_BEGINDATE}}</span>
   <span class="badge badge-orange ie3">{{egitim.CRS_NAME}}</span>
</div>
</div>
</div>



</ion-content>
</ion-view>

