<ion-view view-title='<img class="title-image1" src="img/logo.PNG"/ >'>

	<ion-content>
		<div class="all">{{diller[7].kelime}}</div>

		<img class="full-image rr" src="img/sozlk/s1.png">

		<div class="list list-inset">
			<label class="item item-input" style="border-radius: 58px;">
				<i style="font-size: 33px;" class="ion-ios-search placeholder-icon"></i>
				<input type="text" ng-model="sozlukara" placeholder="Ne Aramıştınız?">
			</label>
		</div>

		<div class="ortala">
			<button class="button button-assertive ekle_b ">
				+ Ekle
			</button></div>


			<div class="button button-full button-clear" ng-repeat="kelime in sozluk | filter:sozlukara"
			ng-click="modalgosterici('dictionary', {{$index}})">
			<p class="a8"> {{kelime.WORD}} - {{kelime.LOGIN_ID==null ? "değil" : "favori"}}</p>
		</div>

	</ion-content>
</ion-view>