<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>

  <ion-content class="padding">


    <!-- Anasayfa Tab -->


    <h3 class="fnt">Müşteri Hikayeleri</h3>

    <ion-scroll scrollbar-x="false" style="overflow-x: hidden;" direction="x">
      <div class="row" >
        <a style="border-color: red;border-width: 2px;margin-right: 4px;"class=" col.col-25 item item-avatarim storycircle" ng-repeat="story in stories" ng-click="modalgosterici('story', {{$index}})">
         <img class="m"src="{{story.img}}">
       </a>
     </div>
   </ion-scroll>






   <h3 class="fnt">Hizmetlerimiz</h3>

   <ion-scroll scrollbar-x="false" style="overflow-x: hidden;"  direction="x">
    <div class="row" >
      <div class="col.col-25 item item-thumbnail- h" ng-repeat="servis in services" style="border-radius: 17px !important;
      margin-right: 14px;" ng-click="modalgosterici('service',{{$index}})">
      <img class="hiz"src="{{servis.ico}}">
      <p align="center">{{servis.name}}</p>
    </div>
  </div>
</ion-scroll>


<h3 class="fnt">Referanslar</h3>

<ion-scroll scrollbar-x="false" style="overflow-x: hidden;" direction="x">
  <div class="row">
    <div class="col.col-25" ng-repeat="referans in referanslar" >
      <a class="item item-thumbnail- h"style="border-radius: 17px !important;
      margin-right: 14px; ">
      <img class="rfr"src="{{referans.REF_PHOTO}}">
    </a>
  </div>
</div>
</ion-scroll>

<h3 class="fnt">Ekibimiz</h3>

<ion-scroll scrollbar-x="false" style="overflow-x: hidden; " direction="x">
  <div class="row">
    <div ng-repeat="ekip in team" ng-click="modalgosterici('team',{{$index}})" class="card group col-75" style="margin-right: 22px;">
      <div class="item item-avatarim" >
        <img class="im" src="{{ekip.img}}">
        <font style="text-align: center;"><h2>{{ekip.name}}</h2>
          <p>{{ekip.pos}}</p></font>
          <p style="margin-left: 55px;">{{ekip.des}}.</p>
        </div>
      </div>
    </div>
  </ion-scroll>




</ion-content>
</ion-view>
