<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>

  <!-- Hakkımızda Tab -->
  <div class="tabs-striped tabs-top tabs-background-light tabs-color-dark">

    <div class="tabs">

      <a class="tab-item {{abouttab!=0 ? '' :'active'}}" ng-click="tiklaab(abouttab=0)" href="#/tab/aboutus">
        Hizmetlerimiz

      </a>
      <a class="tab-item {{abouttab!=1 ? '' :'active'}}" ng-click="tiklaab(abouttab=1)" href="#/tab/aboutus">

       Referanslar
     </a>
     <a class="tab-item {{abouttab!=2 ? '' :'active'}}" ng-click="tiklaab(abouttab=2)" href="#/tab/aboutus">
      Ekibimiz
    </a>
  </div>
</div>
</div>

<ion-content>
 <br> <br>  <br>

  <!-- Hizmetlerimiz Tab -->
 

  <div ng-if="abouttab==0"  ng-repeat="hizmet in services" style="margin-top: 30px;"  ng-click="modal.show()" >

    <div class="item item-body hk" >
      <img class="full-image i" src="{{hizmet.ico}}" >

      <div class=""> <h2 align="center" >{{hizmet.name}}<hr width="100%" size="4" ></h2></div>
      <p style="font-size: 12px;"align="center">
        {{hizmet.des}}
      </p>
    </div>
  </div>
  
</div> 





<!-- Referanslar Tab -->

<div ng-if="abouttab==1" class="row ">

  <div class="col " style="margin-left: 45px;">
    <br>
    <div class="col.col-50 " ng-repeat="referans in referanslar ">
      <div class="item item-thumbnail- h " style="border-radius:
       17px !important;"href="#" ng-if="referans.ID%2!=0">
        <img class="rfr " src="{{referans.REF_PHOTO}}">
      </div>
      <br>
    </div>
  </div>
  <div class="col ">
    <div class="col.col-50 " ng-repeat="referans in referanslar ">
      <div class="item item-thumbnail- h " style="border-radius:
       17px !important;"href="#" ng-if="referans.ID%2==0">
        <img class="rfr " src="{{referans.REF_PHOTO}}">
      </div>
      <br>
    </div>
  </div>
</div>


<!-- Ekibimiz Tab -->

<div ng-if="abouttab==2" ng-repeat="ekip in team" ng-click="modal.show()" style="margin-top: 30px;"class="card rectangle groupi">
  <div class="item item-text-wrap ">
    <img class="im"src="{{ekip.img}}">
    <h2><i class="ei">{{ekip.name}}</i></h2>
    <h2><i class="es">{{ekip.pos}}</i></h2>
    <p class="ea">{{ekip.des}}</p>
  </div>
</div>





<br><br><br><br><br><br>
</ion-content>
</ion-view>
