<ion-view view-title='<img class="title-image1" src="img/logo.PNG"/ >'>


	<ion-content>

		<div class="all">Sözlük </div>


		<img class="full-image rr" src="img/sozlk/s1.png">

		<div class="list list-inset">
			<label class="item item-input" style="border-radius: 58px;">
				<i style="font-size: 33px;"class="ion-ios-search placeholder-icon"></i>
				<input style=""type="text" placeholder="Ne Aramıştınız?">
			</label>
		</div>





		<br>

		<a class="button button-full button-clear" href="#/tab/dictionarydetail">
			<p class="a8"> Abnormal Situantion</p>
		</a>

		<button class="button button-full button-clear">
			<p class="a8"> Abort</p>
		</button>

		<button class="button button-full button-clear">
			<p class="a8"> Absolute Application(of CPRQA)</p>
		</button>

		<button class="button button-full button-clear">
			<p class="a8"> Absorption</p>
		</button>

		<button class="button button-full button-clear">
			<p class="a8"> Acceleration Rate Calorimetry(ARC)</p>
		</button>

		<button class="button button-full button-clear">
			<p class="a8"> Acceleration Test</p>
		</button>

		<button class="button button-full button-clear">
			<p class="a8"> Acceptable Risk</p>
		</button>

		<button class="button button-full button-clear">
			<p class="a8"> Acceptance</p>
		</button>














	</ion-content>

</ion-view>
