<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>
<ion-content>

<br>
<h4 align="center">Eğitimlerimiz</h4>


<div  ng-repeat="egitim in egitimler" ng-click="modalgosterici('course',{{$index}})">
<div class="card" style="border-radius: 10px;    height: 188px;">
<div class=""style="background: url('{{egitim.CRS_PHOTO}}'); height: 75px;" class="item item-text-wrap">
  <div style="margin-top: 150px;">
	  <span style="background-color: red; color: white;">{{egitim.CRS_BEGINDATE}}</span>
	  <br>
	  <span style="background-color: black; color: white;">{{egitim.CRS_NAME}}</span>
	</div>
</div>
</div>
</div>



</ion-content>
</ion-view>

