<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-nav-bar class="bar-light"></ion-nav-bar>



<ion-tabs class="tabs-icon-top tabs-color-active-light">

<!-- Anasayfa Tab -->
<ion-tab class="active" title="{{diller[4].kelime}}" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/main">
  <ion-nav-view name="tab-main"></ion-nav-view>
</ion-tab>

<!-- Hakkımızda Tab -->
<ion-tab class="active" title="{{diller[5].kelime}}" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/aboutus">
  <ion-nav-view name="tab-aboutus"></ion-nav-view>
</ion-tab>

<!-- Eğitimlerimiz Tab -->
<ion-tab class="active" title="{{diller[6].kelime}}" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/courses">
  <ion-nav-view name="tab-courses"></ion-nav-view>
</ion-tab>

<!-- Sözlük Tab -->
<ion-tab class="active" title="{{diller[7].kelime}}" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/dictionary">
  <ion-nav-view name="tab-dictionary"></ion-nav-view>
</ion-tab>

<!-- İletişim Tab -->
<ion-tab class="active" title="{{diller[8].kelime}}" icon-off="ion-ios-telephone-outline" icon-on="ion-ios-telephone" href="#/tab/contact">

  <ion-nav-view name="tab-contact"></ion-nav-view>
</ion-tab>

</ion-tabs>
