<ion-modal-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>
  <ion-header-bar class="bar-light">
    <ion-header-buttons>
      <button class="button button-clear ion-close" ng-click="modal.hide()"></button>
    </ion-header-buttons>
  </ion-header-bar>


  <ion-content>
    <h4 align="center">Ekibimiz</h4>
    <br>
    <br>
    <br>
    <div class="item item-body hkd">
      <i class="list card ">
        <div style="border-color: red;border-width: 2px;" class="item item-avatar profile ">
          <img class="pi" ng-src="{{ekip[itemId].IMAGE}}">
      </i>
    </div>

    <h2 align="center" style="font-size: 21px;">{{ekip[itemId].NAME}}</h2>
    <br>
    <p style="font-size: 15px;" align="center">{{ekip[itemId].ABOUT}}

      <a href="{{ekip[itemId].LINKEDIN}}">
        <h2 align="center" style="margin-left: 10px;
        font-size: 65px;
        color: steelblue;" class="ion-social-linkedin y"></h2>
      </a>
      </div>
  </ion-content>
</ion-modal-view>