<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>
  <ion-content>






<div class="list">


  <div class="item item-body" style="border-color: white;">
    <img class="full-image" src="{{detay.img}}">
    <h2>{{detay.title}}</h2>
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

</div>




<div class="list card" style="box-shadow: none;">

  <a href="#" class="item item-icon-left border-c">
    <i class="icon ion-ios-clock-outline"></i>
    {{detay.sure}}
  </a>

  <a href="#" class="item item-icon-left border-c">
    <i class="icon ion-ios-location-outline"></i>
     {{detay.lokasyon}}
  </a>

  <a href="#" class="item item-icon-left border-c">
    <i class="icon ion-ios-calendar-outline"></i>
   {{detay.tarih}}
  </a>

 

</div>



<div style="text-align: center;
    margin-bottom: 40px;">


<button class="button button-assertive border-r" style="width: 65%;" ng-click="user.id ? basvur():login()">
  {{lan.detayButon}}
</button>


</div>

  </ion-content>
</ion-view>