<ion-view view-title="Hakkımızda">

   <ion-content>
  
<h5><b><u>VİZYONUMUZ</u></b></h5>
<p>Türkiye'de özel entegratörler içerisinde geliştirdiğimiz inovatif ürünlerle pazara yön veren,müşterilerimize en yakın olan ve ihtiyaçlarına en doğru çözümleri2 sunan,müşteri memnuniyeti en yüksek  ve en çok tercih edilen dijital dönüşüm ortağı olmak.</p>


<h5><b><u>MİSYONUMUZ</u></b></h5>
<p>Hizzmet verdiğimiz her sektörde; müşterilerimizin ihtiyaçlarından yola çıkarak oluşturduğumuz inovatif ve yüksek kalite standartlarına sahip ürün ve hizmetlerimizle, müşterilerimizin dijital dönüşüm süreçlerini hızlı ve kolay yönetmelerini sağlıyoruz.Bu sayede,özel entegratör olarak müşterilerimizin ,işlerini daha düşük maliyetlerle daha verimli yönetmelerini ve rakiplerine göre rekabet gücü kazanmalarını amaçlıyoruz.</p>


<p><b>Barbaros Mah.Kardelen Sok.No:2/41 Atasehir,Istanbul-Turkey info@operics.com.tr +90 216 687 17 70</b></p>

  </ion-content>
</ion-view>
