<ion-view view-title="Hizmetlerimiz">
  <ion-content>
    <br>
     <br>
     <br>
     <br>
<div class="card border-h">
  <div class="item item-text-wrap bg-h" >
İŞ GÜVENLİĞİ UZMANLIĞI HİZMETLERİ
  </div>
</div>
<div class="card border-h">
  <div class="item item-text-wrap bg-h" >
İŞYERİ HEKİMLİĞİ HİZMETİ
  </div>
</div>
<div class="card border-h">
  <div class="item item-text-wrap bg-h" >
MOBİL SAĞLIK HİZMETLERİ
  </div>
</div>
<div class="card border-h">
  <div class="item item-text-wrap bg-h" >
İŞYERİ ORTAM ÖLÇÜMLERİ
  </div>
</div>
<div class="card border-h">
  <div class="item item-text-wrap bg-h" >
SIFIR KAZA PROJESİ
  </div>
</div>
  </ion-content>
</ion-view>
