<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>
  <ion-content>
    

<div class="list list-inset">
  <label class="item item-input border-r">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>






<div class="list card" ng-click="linkURL('#/app/playlists/'+playlist.id)" ng-repeat="playlist in playlists">


  <div class="item item-body">
    <img class="full-image" src="{{playlist.img}}">
    <h2>{{playlist.title}}</h2>
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <p>
      <a href="#" class="subdued crd"><i class="icon ion-ios-clock-outline"></i> 20 Saat</a>
      <a href="#" class="subdued crd"><i class="icon ion-ios-location-outline"></i>Ankara</a>
    </p>
  </div>

</div>




  </ion-content>
</ion-view>
