<ion-view view-title="Takımımız">
  <ion-content>
    <br>
     <br>
     
<div class="card border-h">
  <div class="item item-text-wrap bg-h" >

    <img align="left"style="width: 61px;height: 74px;"src="https://icons.iconarchive.com/icons/cjdowner/cryptocurrency/256/ICON-icon.png">
    <h1 class="fnt">Ayşe Çelik</h1>
<h2>İş Sağlığı-Üretim Planlama Yöneticisi </p>
  
    </div>
</div>

<div class="card border-h">
  <div class="item item-text-wrap bg-h" >
    <img align="left"style="width: 61px;height: 74px;"src="https://icons.iconarchive.com/icons/cjdowner/cryptocurrency/256/ICON-icon.png">
<h1 class="fnt">Ahmet Özdemir</h1>
<h2>İş Sağlığı-Satış Planlama Yöneticisi </h2>
  </div>
</div>

<div class="card border-h">
  <div class="item item-text-wrap bg-h" >
    <img align="left"style="width: 61px;height: 74px;"src="https://icons.iconarchive.com/icons/cjdowner/cryptocurrency/256/ICON-icon.png">
<h1 class="fnt">Teyfik Yılmaz</h1>
<h2>İş Sağlığı-Etiket Planlama Yöneticisi </h2>
  </div>
</div>
<div class="card border-h">
  <div class="item item-text-wrap bg-h" >
    <img align="left"style="width: 61px;height: 74px;"src="https://icons.iconarchive.com/icons/cjdowner/cryptocurrency/256/ICON-icon.png">
<h1 class="fnt">Serkan Kaleli</h1>
<h2>İş Sağlığı-Paket Planlama Yöneticisi </h2>
  </div>
</div>

  </ion-content>
</ion-view>
