<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>

<ion-content>


<a href="#/tab/courses">
<div>
<img class="ed" src="img/isgrsm/i1.jpg">
</div>
</a>
<h3>Endüstriyel Teknolojiler ve Teknikleri Genel Değerlendirme Eğitimi</h3>
<br>

<p align="left" class="y">İSG profesyonellerine endüstride  karşılaşılabilecek toksik maruziyetleri etkin bir şekilde değerlendirebilme ve  süreci yönetebilme bilgi ve becerisi kazandırılması amaçlanmıştır.</p>

<ion-icon name="time-outline"></ion-icon>

<br>
<h5 >
<i class="icon ion-ios-clock-outline"></i>
20 Saat
</h5>
<br>
<h5 >Maltepe Mah Yıldız İş Hanı Kat:17 
Esentepe / Ankara</h5>
<br>
<h5 >12.03.2020 - 12.06.2020 </h5>
<br><br>
<button class="button button-assertive obton">
Ön Başvuru Yap
</button>
<br><br><br><br>

 </ion-conent>
</ion-view>