<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>

<ion-content>


<a href="#/tab/courses">
<div>
<img class="ed" src="img/isgrsm/i1.jpg">
</div>
</a>
<h3>Endüstriyel Teknolojiler ve Teknikleri Genel Değerlendirme Eğitimi</h3>
<br>

<p align="left" class="y">İSG profesyonellerine endüstride  karşılaşılabilecek toksik maruziyetleri etkin bir şekilde değerlendirebilme ve  süreci yönetebilme bilgi ve becerisi kazandırılması amaçlanmıştır.</p>

<ion-icon name="time-outline"></ion-icon>

<br>



<h2 style="font-size: 23px;"class="ion-ios-time-outline y"><font style="margin-left: 10px;font-size: 19px;"> 20 Saat</font></h2>
<br>
<h4 style="font-size: 23px;"class="ion-ios-location-outline y"><font style="margin-left: 10px;font-size: 19px;">Maltepe Mah Yıldız İş Hanı Kat:17 
Esentepe / Ankara</font></h4>
<br>
<h4 style="font-size: 23px;"class="ion-calendar y"><font style="margin-left: 10px;font-size: 19px;">12.03.2020 - 12.06.2020 </font></h4>
<br><br>
<button class="button button-assertive obton">
Ön Başvuru Yap
</button>
<br><br><br><br>

 </ion-conent>
</ion-view>