<ion-view view-title='<img class="title-image1" src="img/logo.PNG"/ >'>


<ion-content>

 <p class="all">Sözlük </p>


    <img class="full-image rr" src="img/rsm/rr2.png">








<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Ne Aramıştınız?">
  </label>
</div>





<br>

<button class="button button-full button-clear">
 <p class="a8"> Abnormal Situantion</p>
</button>

<button class="button button-full button-clear">
 <p class="a8"> Abort</p>
</button>

<button class="button button-full button-clear">
<p class="a8"> Absolute Application(of CPRQA)</p>
</button>

<button class="button button-full button-clear">
  <p class="a8"> Absorption</p>
</button>

<button class="button button-full button-clear">
 <p class="a8"> Acceleration Rate Calorimetry(ARC)</p>
</button>

<button class="button button-full button-clear">
  <p class="a8"> Acceleration Test</p>
</button>

<button class="button button-full button-clear">
 <p class="a8"> Acceptable Risk</p>
</button>

<button class="button button-full button-clear">
<p class="a8"> Acceptance</p>
</button>














</ion-content>
  
</ion-view>