<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>

  <!-- Hakkımızda Tab -->
 <div class="tabs-striped tabs-top tabs-background-light tabs-color-dark">

      <div class="tabs">

      <a class="tab-item active" href="#/tab/aboutus">
      Hizmetlerimiz

      </a>
     <a class="tab-item" href="#/tab/aboutus">
        
     Referanslar
      </a>
      <a class="tab-item" href="#/tab/aboutus">
      Ekibimiz
      </a>
     </div>
     </div>
     </div>

  <ion-content>

 <br><br><br><br><br><br><br>

  <div class="item item-body hk">
  <img class="full-image i" src="img/rsm/a.png">

  <div class=""> <h2 align="center" >Analizler<hr width="100%" size="4" ></h2></div>
  <p style="font-size: 12px;"align="center">Sektöre yönelik analizlerimiz 
ile işinizi hızlı ve kolay bir şekilde geliştrimenizi sağlıyoruz.</p>

  </div>
</div> 

<br><br><br>

  <div class="item item-body hk">
  <img class="full-image i" src="img/rsm/d.png">
  <div class=""> <h2 align="center" >İSG Danışmanlık<hr width="100%" size="4" ></h2>
  </div>

<p style="font-size: 12px;"align="center">10 yıldan fazla sektör tecrübesine 
sahiptir. Bilgisiyar mühendisliği 
bölümü mezunudur.</p>
  </div>
</div>

<br><br><br>




  </ion-content>
</ion-view>
