<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>


<br><br>
<h4 align="center">Eğitimlerimiz</h4>


<div class="card rectangle groupi ">
<div class="item item-text-wrap">
   <img class="ie"src="img/isgrsm/i1.jpg">
    <span class="badge badge-orange ie2" >19 Mart 2020</span>
     <span class="badge badge-orange ie3">Teknik İşler İş Sağlığı Eğitimiz</span>
</div>

</div>


<div class="card rectangle groupi ">
<div class="item item-text-wrap">
   <img class="ie"src="img/isgrsm/i2.png">
    <span class="badge badge-orange ie2" >29 Mart 2020</span>
    <span class="badge badge-orange ie3" >ISO 3100 Eğitimi</span>
</div>
</div>

<div class="card rectangle groupi ">
<div class="item item-text-wrap">
   <img class="ie"src="img/isgrsm/i3.png">
    <span class="badge badge-orange ie2" >10 Nisan 2020</span>
    <span class="badge badge-orange ie3" >ISG Eğitimi</span> 
</div>
</div>
  
<br><br><br><br><br><br>
<br><br><br><br><br><br>
  </ion-content>
</ion-view>
