<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>


  <ion-content class="padding">


  <!-- Anasayfa Tab -->


    <h3 class="fnt">Müşteri Hikayeleri</h3>
    <div class="" >

    <a style="border-color: red;border-width: 2px;"class="item item-thumbnail- r" href="#">
      <img class="m"src="img/rsm/y.png">
    </a>  


    <a style="border-color:red;border-width: 2px;"class="item item-thumbnail- ri" href="#">
      <img class="m"src="img/rsm/h.png">
    </a>


    <a style="border-color: red;border-width: 2px;"class="item item-thumbnail- rü" href="#">
      <img class="m"src="img/rsm/m.jpg">
    </a>
  </div>



    <h3 class="fnt">Hizmetlerimiz</h3>

    <div class="">
    <a class="item item-thumbnail- h" href="#">
    <img class="hiz"src="img/rsm/a.png">
    <p align="center">Analizler</p>
    </a>
   </div>


    <h3 class="fnt">Referanslar</h3>

    <div class="" ng-repeat="n in referanslar2">
    <a class="item item-thumbnail- h" href="#">
    <img class="rfr"src="{{n.REF_PHOTO}}">
   </a>
  </div>


   <h3 class="fnt">Ekibimiz</h3>

   <div class="list card group">
   <div class="item item-avatarim" >
   <img class="im" src="img/rsm/k.jpg">
   <font style="text-align: center;"><h2>Dila Hacıhan</h2>
    <p>Genel Müdür</p></font>
    <p style="margin-left: 55px;">10 yıldan fazla sektör tecrübesine 
sahiptir. Bilgisiyar mühendisliği 
bölümü mezunudur.</p>  
</div>
</div>

{{referanslar2}}
  </ion-content>
}
}
</ion-view>
