<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>


  <ion-content class="padding">


  <!-- Anasayfa Tab -->


    <h3 class="fnt">Müşteri Hikayeleri</h3>
    <div class="row" >

    <a style="border-color: red;border-width: 2px;"class=" col.col25 item item-thumbnail- r" ng-repeat="story in stories" href="#/tab/storyextended">
      <img class="m"src="{{story.img}}">
    </a>  


  
  </div>



    <h3 class="fnt">Hizmetlerimiz</h3>

    <div class="row">
      <a class="col.col25 item item-thumbnail- h" ng-repeat="servis in services" href="#">
        <img class="hiz"src="{{servis.ico}}">
        <p align="center">{{servis.name}}</p>
      </a>
   </div>


  <h3 class="fnt">Referanslar</h3>

  <div class="row">
    <div class="col" ng-repeat="referans in references">
      <a class="item item-thumbnail- h" href="#">
      <img class="rfr"src="{{referans.img}}">
      </a>
      
    </div>
  </div>
  

   <h3 class="fnt">Ekibimiz</h3>

   <div class="list card group">
   <div class="item item-avatarim" >
   <img class="im" src="img/ekb/ek1.jpg">
   <font style="text-align: center;"><h2>Şule Deniz</h2>
    <p>Genel Müdür</p></font>
    <p style="margin-left: 55px;">10 yıldan fazla sektör tecrübesine 
sahiptir. Bilgisiyarmühendisliği 
bölümü mezunudur.</p>  
</div>
</div>




  </ion-content>
</ion-view>
