<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Anasayfa" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/tab/main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Hakkımızda" icon-off="ion-information-circled" icon-on="ion-information-circled" href="#/tab/aboutus">
    <ion-nav-view name="tab-aboutus"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Eğitimlerimiz" icon-off="ion-calendar" icon-on="ion-calendar" href="#/tab/chats"> 
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Sözlük" icon-off="ion-bookmark" icon-on="ion-bookmark" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="iletişim" icon-off="ion-call-outline" icon-on="ion-call-outline" href="#/tab/dash">

    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

</ion-tabs>
